@import "tailwindcss";
@theme {
    --color-jithbo-green: #63cfa0;
    --color-pure-green: #34735f;
    --color-light-yellow: #f4f5ef;
    --color-terra-cotta: #da6049;
    --color-primary-blue: #0096ed;
    --color-gray-blue: #4e566b;
    --color-light-apricot: #fde8cd;
    --color-light-gray: #f6f6f6;
    --color-light-gray-stroke: #e5e5e5;
    --color-night-black: #171717;
}

html,
body {
    box-sizing: border-box;
    font-family: var(--font-satoshi), sans-serif;
}

* {
    box-sizing: border-box;
}
